@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.sidebar {
    flex: 3;
    height: fit-content;
    margin: 20px;
    padding-bottom: 30px;
    background-color: $cta-text-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__img {
            margin-top: 15px;
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
        
        &__p {
            padding: 30px;
        }
    }

    &__title {
        margin: 10px;
        padding: 5px;
        width: 80%;
        text-transform: uppercase;
        border-top: solid 1px $divider-line-color;
        border-bottom: solid 1px $divider-line-color;
        text-align: center;
        font-size: 12px;
        line-height: 19px;
        color: black;
        font-weight: 600;
    }

    &__list {
        @include reset-list;
        margin-bottom: 30px;

        &__item {
            display: inline-block;
            width: 50%;
            margin-top: 15px;
            cursor: pointer;
        }
    }

    &__social {
        margin-top: 15px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        font-size: 16px;
        margin-left: 10px;
    }
  }